body {
    background-color: black;
    color: white;
}

img {
    width: 250px;
    height: auto;
    margin: 20px 0px 0px 20px;
}

input {
    height: 30px;
}

button {
    height: 36px;
    background-color: lightgrey;
    border-color: lightgrey;
}

button:hover {
    background-color: rgb(158, 158, 158);
}
